.navbar-top{
  background-color: #2c3e50!important;
  height: 60px;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#envel{
  background-color: #16a085;
  margin-left: 5px;
  height: 50px;
  text-align: center;
  width: 45px;
  margin-top: -15px;
}
#bell{
  background-color: #f39c12;
  margin-left: 5px;
  height: 50px;
  width: 45px;
  text-align: center;
  margin-top: -15px;
}
#task{
  background-color: #2980b9;
  margin-left: 5px;
  height: 50px;
  text-align: center;
  width: 45px;
  margin-top: -15px;
}
#setting:hover{
  background-color: #142434;
  height: 50px;
  text-align: center;
  width: 45px;
}
#setting{
  margin-left: 5px;
  height: 50px;
  text-align: center;
  width: 45px;
  margin-top: -15px; 
}
.dashboard{
  background: #ecf0f1;
  margin-left: 16.9rem;
  width:66.5rem;
  /* height: 100%; */
}
.titre{
  font-size: 30px;
}
.breadcrumb{
  height: 40px;
  display: flex;
}
.bd{
  font-size: 10px;
}
.text-green{
  color: #16a085;
}
.btn-success{
  background-color: #149077!important;
  color: #fff!important;
  width: 100px;
}
.log{
  background-color: #232c36!important;
}
.login{
  background: #34495e;
}

.login-heading{
  background-color: #149077;
  color: #fff;
 height: 70px;

}
.portlet-green{
  border: 1px solid #16a085;
  background-color: #fff;
}
.btn-green{
  background-color: #149077;
  border-radius: 12px;
  font-size: 25px;
}
